<tr>
  <th onclick="giveinfo('<%= i %>')"><%= i %> - <%= i+1 %></th>
  <td fila="<%= i %> "><%= i %></td>
  <td fila="<%= i+1 %>"><%= i+1 %></td>
  <td fila="<%= i+2 %>"><%= i+2 %></td>
  <td fila="<%= i+3 %>"><%= i+3 %></td>
  <td fila="<%= i+4 %>"><%= i+4 %></td>
  <td fila="<%= i+5 %>"><%= i+5 %></td>
  <td fila="<%= i+6 %>"><%= i+6 %></td>
</tr>
